body {
	position: relative;	
}
#progress {
	position: fixed;
	bottom:0;
	right:0;
	color: #CCCCFF;
}
.page-container {
    margin-top: 50px;
}

.footer {
	background-color: #CFCFCF;
	margin-top: 50px;
}
.code-snippets {
	margin-top: 40px;
}
.clear {
	clear: both;
}
/*------------------------------------*/
