<!DCOTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<link href="../../../css/bootstrap.css" rel="stylesheet" />
		<link href="../../../css/prettify.css" rel="stylesheet" />
		<link href="multiselect.css" rel="stylesheet" />
		<style>
			.models {
				overflow: auto;
				width: 100%;
			}
			.clear {
				clear: both;
			}
		</style>
	</head>
	<body ng-controller="myController">
		<div class="container">
			<h1>Angular Custom Directive for Single/Multi Section Dropdown</h1>
			<hr />
			<div>
				Single Select :	
				<multiselect 
							items="heros" 
							ng-model="selectedHeros">
				</multiselect>

				Multi Select :
				<multiselect 
							items="fruits" 
							ng-model="selectedFruits"
							multiselect>
				</multiselect>
				<section>
					<h3>Models</h3>
					<pre class="span3 pull-left">Selected Heros: {{selectedHeros | json}}</pre>
					<pre class="span3 pull-left">Selected Fruits: {{selectedFruits | json}}</pre>
				</section>
				<section class="clear">
				<h4>Usage: Single Select</h4>
					<pre class="prettyprint">
&lt;multiselect 
	items="heros" 
	ng-model="selectedHeros">
&lt;/multiselect>
					</pre>
				<h4>Usage: Multi Select</h4>
					<pre class="prettyprint">
&lt;multiselect 
	items="fruits" 
	ng-model="selectedFruits"
	multiselect>
&lt;/multiselect>
					</pre>

				</section>
			</div>

			<div>
				<h3>Used files</h3>
				<ul>
					<li><a href="directives/multiselect.js">templates/multiselect.js</a></li>
					<li><a href="templates/multiselect.html">templates/multiselect.html</a></li>
					<li><a href="controllers.js">controllers.js</a></li>
				</ul>
			</div>
			<div>
		</div>

		<!-- Scripts -->
		<script type="text/javascript" src="../../../js/vendor/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="../../../js/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="../../../js/vendor/angular/angular.min.js"></script>
		<script type="text/javascript" src="../../../js/vendor/prettify.js"></script>
		<script src="app.js"></script>
		<script src="directives/multiselect.js"></script>
		<script src="controllers.js"></script>
		<script>
			prettyPrint();
		</script>
	</body>
</html>