<h3>srvSimpleMarkup</h3>
<p>
This is a simple directive. This directive creates new markup and places the contents of the tag &lt;srv-simple-markup /> inside the markup
</p>
<data-srv-simple-markup>Angular </data-srv-simple-markup>
<srv-simple-markup>Bootstrap</srv-simple-markup>

<div class="code-snippets">
	<ul class="nav nav-tabs">
		<li class="active"><a role="tab" href="#srv-range-markup1">Usage</a></li>
		<li><a role="tab" href="#srv-range-markup2">srvSimpleMarkup.js</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="srv-range-markup1">
<srv-prettify>&lt;data-srv-simple-markup>Angular &lt;/data-srv-simple-markup>
&lt;srv-simple-markup>Bootstrap&lt;/srv-simple-markup></srv-prettify>
		</div>
		<div class="tab-pane" id="srv-range-markup2">
			<div srv-prettify file-name="'/angularjs-components/js/directives/srvSimpleMarkup.js'" >
			</div>
		</div>
	</div>
</div>
