<h3>srvColorPicker</h3>
<p>This directive takes the color values from its parent controller and binds with the elements created through the template.</p>
<div ng-controller="srvColorPickerCtrl">
	<pre>Model: {{color|json}}</pre>
	<srv-color-picker ng-model="color"></srv-color-picker>
</div>

<div class="code-snippets">
	<ul class="nav nav-tabs">
		<li class="active"><a role="tab" href="#srv-colorpiker-markup1">Usage</a></li>
		<li><a role="tab" href="#srv-colorpiker-markup2">srvColorPicker.js</a></li>
		<li><a role="tab" href="#srv-colorpiker-markup3">srvColorPicker.html</a></li>
		<li><a role="tab" href="#srv-colorpiker-markup4">srvColorPickerCtrl.js</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="srv-colorpiker-markup1">
			<srv-prettify>&lt;srv-color-picker ng-model="color">&lt;/srv-color-picker></srv-prettify>
		</div>
		<div class="tab-pane" id="srv-colorpiker-markup2">
			<div srv-prettify file-name="'/angularjs-components/js/directives/srvColorPicker.js'" >
			</div>
		</div>
		<div class="tab-pane" id="srv-colorpiker-markup3">
			<div srv-prettify file-name="'/angularjs-components/templates/srvColorPicker.html'" >
			</div>
		</div>
		<div class="tab-pane" id="srv-colorpiker-markup4">
			<div srv-prettify file-name="'/angularjs-components/js/controllers/srv-directive-examples/srvColorPickerCtrl.js'" >
			</div>
		</div>
	</div>
</div>