<h3>srvRange</h3>
<p>
This directive. takes the value from the tag &lt;srv-range> and creates two inputs namely 'number' and 'range'. Then bounds them with a scope. Both the iunputs point to one value (ng-model).
</p>
<srv-range>10</srv-range>
<div class="code-snippets">
	<ul class="nav nav-tabs">
		<li class="active"><a role="tab" href="#srv-simple-markup1">Usage</a></li>
		<li><a role="tab" href="#srv-simple-markup2">srvRange.js</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="srv-simple-markup1">
			<srv-prettify>&lt;srv-range>10&lt;/srv-range></srv-prettify>
		</div>
		<div class="tab-pane" id="srv-simple-markup2">
			<div srv-prettify file-name="'/angularjs-components/js/directives/srvRange.js'" >
			</div>
		</div>
	</div>
</div>



